<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{departureStation}} => {{arrivalStation}} le {{journey.departure | amLocal | amDateFormat: 'DD/MM à HH:mm'}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <mat-card>
    <div>
      <mat-card-subtitle>{{departureStation}} {{journey.departure | amLocal | amDateFormat: 'HH:mm'}}</mat-card-subtitle>
      <ul>
        <li *ngFor="let section of journey.sections">{{section.mode}} {{section.from}} {{section.to}} {{section.duration}}</li>
      </ul>
      <mat-card-subtitle>{{arrivalStation}} {{journey.arrival | amLocal | amDateFormat: 'HH:mm'}}</mat-card-subtitle>
    </div>
    <mat-card-actions align="end">
      <button mat-button routerLink="book">Réserver</button>
    </mat-card-actions>
  </mat-card>
</mat-expansion-panel>
